# This configuration file contains host-specific parameters

export ROOT=${HOME}/data

# External input data
export profileFile=${ROOT}/gpc_wave2_batch1/profile_seq_20_100.dat.gz
export arrayFile=${ROOT}/gpc_wave2_batch1/irs_matrix_OMNI25.dat
export gsdelFile=${ROOT}/gpc_wave2_batch1/gs_dels.genotypes.vcf.gz
export gscnvFile=${ROOT}/gpc_wave2/gs_cnv.genotypes.vcf.gz
export referenceFile=${ROOT}/references/Homo_sapiens_assembly19/Homo_sapiens_assembly19.fasta

# Database connection
export DBCONN=dkulp:localhost:5432:seq
